{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row row_mt">
        <div class="col-6">
            <ul class="meal_custom">
                {% for food in meal %}
                    <li>{{ food.name }}
                        <form action="{{ url_for('home.delete_group_1', food_id=food['id']) }}" method="post">
                            <input type="submit" class="remove_item unstyled-button" name="delete_btn_1" value="x"/>
                        </form>
                    </li>
                {% endfor %}
            </ul>

                <button class="btn btn-primary add_ml" type="submit" name="add_meal"
                        data-toggle="modal" data-target="#exampleModalCenter">Add Food</button>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please enter ingredient:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post">
      <div class="modal-body">
            <input type="text" class="form-control" name="ingredient" id="ingredient">
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" name="addButton1" value="Search"/>
      </div>
        </form>
    </div>
  </div>
</div>
        </div>
        <div class="col-6">
            <ul class="meal_custom">
                {% for food in meal_2 %}
                <li>{{ food.name }}
                    <form action="{{ url_for('home.delete_group_2', food_id=food['id']) }}" method="post">
                            <input type="submit" class="remove_item unstyled-button" name="delete_btn_2" value="x"/>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <button class="btn btn-primary add_ml" type="submit" name="add_meal"
                        data-toggle="modal" data-target="#exampleModalCenter2">Add Food</button>

            <!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Please enter ingredient:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post">
      <div class="modal-body">
            <input type="text" class="form-control" name="ingredient2" id="ingredient2">
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" name="addButton2" value="Search"/>
      </div>
        </form>
    </div>
  </div>
</div>
        </div>
    </div>

    <div class="row row_mt mx-auto">
        <h3 class="center">Macro Breakdown</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="macro_list macro_mt">
                <li><b>Calories: </b> {{ macro_stats['calories_total'] }} kCal</li>
                <li><b>Carbs: </b> {{ macro_stats['carbs_total'] }} g</li>
                <li><b>Proteins: </b> {{ macro_stats['proteins_total'] }} g</li>
                <li><b>Fats: </b> {{ macro_stats['fats_total'] }} g</li>
                <li><b>Saturated Fats: </b> {{ macro_stats['sat_fats_total'] }} g</li>
                <li><b>Fiber: </b> {{ macro_stats['fiber_total'] }} g</li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="macro_list macro_mt">
                <li><b>Calories: </b> {{ macro_stats_2['calories_total'] }} kCal</li>
                <li><b>Carbs: </b> {{ macro_stats_2['carbs_total'] }} g</li>
                <li><b>Proteins: </b> {{ macro_stats_2['proteins_total'] }} g</li>
                <li><b>Fats: </b> {{ macro_stats_2['fats_total'] }} g</li>
                <li><b>Saturated Fats: </b> {{ macro_stats_2['sat_fats_total'] }} g</li>
                <li><b>Fiber: </b> {{ macro_stats_2['fiber_total'] }} g</li>
            </ul>
        </div>
    </div>


</div>




{% endblock %}

