{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <a href="{{ url_for('home.meal_prep') }}">Back to ingredient Search</a>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>{{ food_name }} ({{ measure }})</h3>
            <div class="border border-primary rounded">
                <h3></h3>
                <ul>{% for row in ing_nutrients %}
                    <li><b>{{ row[3] }}:</b> {{ row[4] }}{{ row[5] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <form method="post">
                <input class="btn btn-primary" type="submit" name="addButton" value="Add Ingredient">
            </form>
        </div>
    </div>
</div>


{% endblock %}