{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% if 'sch_q' in request.path %}
            <a href="{{ url_for('home.food_query') }}">Back to ingredient Search</a>
        {% else %}
            <a href="{{ url_for('home.food_compare') }}">Back to group analysis</a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">
            <form method="post">
                <select name="ing_select" id="ing_select" size="10" >
                    {% for res in ing_results %}
                    <option value="{{ res[0] }}">{{ res[1] }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" name="btn" value="Select">
            </form>
        </div>
    </div>
</div>

{% endblock %}