{% extends 'home/index.html' %}

{% block content %}

<div class="container">
    <div class="row">
    <a href="{{ url_for('home.index') }}">Back to ingredient Search</a>
    </div>

    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('home.serving') }}" method="post">
                <select name="ing_select" id="ing_select" size="10" >
                    {% for res in ing_results %}
                    <option value="{{ res[0] }}">{{ res[1] }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" name="btn" value="Add">
            </form>
        </div>
    </div>
</div>

{% endblock %}