{% extends 'base.html' %}

{% block content%}

<h1>Serving Size</h1>
<h3>{{ food_name }}</h3>

<div class="container">
    <div class="row">
        {% if 'ser_q' in request.path %}
            <a href="{{ url_for('home.food_query') }}">Back to ingredient Search</a>
        {% else %}
            <a href="{{ url_for('home.food_compare') }}">Back to group analysis</a>
        {% endif %}
    </div>

    <div class="row h-75">
        <div class="col-4">
            <form method="post">
                <div class="form-group">
                    <select name="ing_measure" id="ing_measure" size="5" >
                    {% for res in serving_results %}
                    <option value="{{ res[2] }}">{{ res[2] }}</option>
                    {% endfor %}
                </select>
                </div>
                {% if 'ser_q' in request.path %}
                <fieldset>
                    <legend>Types of nutrients</legend>
                    <input class="check" type="checkbox" id="macros" name="macros" value="macros">
                    <label for="macros">Macros</label><br>

                    <input class="check" type="checkbox" id="vitamins" name="vitamins" value="vitamins">
                    <label for="vitamins">Vitamins</label><br>

                    <input class="check" type="checkbox" id="minerals" name="minerals" value="minerals">
                    <label for="minerals">Minerals</label><br>

                    <input class="check" type="checkbox" id="amino_acids" name="amino_acids" value="amino_acids">
                    <label for="amino_acids">Amino_acids</label><br>

                   <input class="check" type="checkbox" id="steroids" name="steroids" value="steroids">
                    <label for="steroids">Steroids</label><br>

                    <input class="check" type="checkbox" id="misc" name="misc" value="misc">
                <label for="misc">Misc</label>
                </fieldset>
                {% endif %}

                <input class="btn btn-primary" type="submit" name="btn" value="Select">
            </form>
        </div>
    </div>
</div>

{% endblock %}