{% extends 'home/search.html' %}

{% block content%}

<h1>Serving Size</h1>
<h3>{{ food_name }}</h3>

<div class="container">
    <div class="row">
        <a href="{{ url_for('home.food_compare') }}">Back to ingredient Search</a>
    </div>

    <div class="row">
        <div class="col-4">
            <form method="post">
                <select name="ing_measure" id="ing_measure" size="5" >
                    {% for res in serving_results %}
                    <option value="{{ res[2] }}">{{ res[2] }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" name="btn" value="Select">
            </form>
        </div>
    </div>
</div>

{% endblock %}