{% extends 'base.html' %}

{% block content%}

<h1>Serving Size</h1>
<h3>{{ food_name }}</h3>

<div class="container">
    <div class="row">
        {% if 'ser_q' in request.path %}
            <a href="{{ url_for('home.food_query') }}">Back to ingredient Search</a>
        {% else %}
            <a href="{{ url_for('home.food_compare') }}">Back to group analysis</a>
        {% endif %}
    </div>

    <div class="row h-75">
        <div class="col-4">
            <form method="post">
                <div class="form-group">
                    <select name="ing_measure" id="ing_measure" size="5" >
                    {% for res in serving_results %}
                    <option value="{{ res[2] }}">{{ res[2] }}</option>
                    {% endfor %}
                </select>
                </div>


                <input class="btn btn-primary" type="submit" name="btn" value="Select">
            </form>
        </div>
    </div>
</div>

{% endblock %}