

ul li {
    list-style:none;

    display: flex;
}

.meal_custom li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 7px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  position: relative;

}

.meal_custom li:hover {
  background-color: #eee;
}

.list_buttons {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin-left: 5px;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

.remove_item {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 15px 16px;
  transform: translate(0%, -50%);
}
.remove_item:hover {background: #bbb;}

.row_mt {
    margin-top: 70px;
}

.macro_mt {
    margin-top: 30px;
}
.add_ml {
    margin-left: 40px;
}
.listWrapper {
    max-height:300px;
    overflow-y:auto;
}

.macro_list li {
    font-size: 18px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

form {
    display: block;
}

.table {
    width: 50%;
}